language: node_js

node_js:
  - "4.1"
  - "4.0"
  - "0.12"
  - "0.11"

before_script:
  - npm install -g jscs
  - npm install -g mocha
  - npm install -g gulp

install:
  - npm install
  - cd example
  - npm install
  - cd ..

script:
  - npm test